<%- include('../partials/header.ejs') %>
    <legend class="title-principal">Edit Person</legend>

    <form class="table-generic" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= person.name %>">
        </div>
        <div class="form-group">
            <label for="date">Birth Day</label>
            <input type="text" class="form-control" id="birth_day" name="birth_day" value="<%= person.birth_day %>">
        </div>
        <div class="form-group">
            <label for="career">Career</label>
            <input type="text" class="form-control" id="career" name="career" value="<%= person.career %>">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a type="button" class="btn btn-danger" href="/persons">Cancel</a>
    </form>
<%- include('../partials/footer.ejs') %>